<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="employeeDashboard"><i class="icon-speedometer"></i> Dashboard</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Menu
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="employeeDashboard.employeeCandidateList"><i class="icon-people"></i> Candidates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="employeeDashboard.employeeInterviewList"><i class="icon-calendar"></i> Interviews</a>
      </li>

    </ul>
  </nav>
</div>