
<!--Link required to get glyphicons to work -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--added StudentController, don't delete the ng-init find since it is needed to get all of the students-->
<div class="animated fadeIn" ng-controller = "StudentsController" ng-init ="find()">

  <!--Search bar -->
  <label for="myInput">Search:</label>
  <input type="text" class="form-control" id = "myInput"  placeholder="search" ng-model = "query">
  <hr/>

  <div class="row">
    <div class="col-md-2">
    <label for="recruiting-season-filter" >Recruiting Season: </label>
    <select id="recruiting-season-filter" class="form-control" ng-model="filterSeason">
      <option ng-repeat = "season in seasons | reverse">{{season}}</option>
    </select>
    </div>

    <!-- Sorting options -->
    <div class="col-md-2">
    <label for="sort-filter">Sort By:</label>
    <select id="sort-filter" ng-model="sort" class="form-control">
      <!-- sorts from most recently added student -->
      <option value = "-created_at">Default</option>
      <!-- sort name from A - Z -->
      <option value = "name">Name</option>
      <!-- sort by highest GPA to lowest GPA, it no GPA they will appear first -->
      <option value = "-gpa">GPA</option>
      <!-- sort major from A - Z -->
      <option value = "major">Major</option>
    </select>
    </div>

    <div class="col-md-2">
    <label for="search-filter" >Search By:</label>
    <select id="search-filter" class="form-control" ng-model="filter">
      <option value = "any">Any</option>
      <option value = "name">Name</option>
      <option value = "major">Major</option>
    </select>
    </div>

    <!-- Show a certain amount of entries of candiates at a time -->
    <div class="col-md-2">
    <label for="show-number-option" >Entries per page: </label>
    <select id="show-number-option" ng-model = "pageSize" class="form-control">
      <option value = "10">10</option>
      <option value = "25">25</option>
      <option value = "50">50</option>
      <option value = "100">100</option>
    </select>
    </div>

  </div>
  <hr/>

  <!-- Candidates table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover" table id = "table" id = "myTable" >
      <thead class = "thead-inverse">
       <tr>
        <th style = "width:10%;">Name</th>
        <th style = "width:10%;">GPA</th>
        <th style = "width:10%;">Major</th>
        <th style = "width:10%;">Minor</th>
        <th style = "width:10%;">

          <input type="checkbox" ng-model="all" >
          Email
          <a href="" target="_top" id="xyz">
            <i ng-click="bulkEmail()" class="fa fa-envelope">Send</i>
          </a>
        </th>
      </tr>
    </thead>
    <!-- If you do filter by query, shows everything. If you did a filter by your own function, you have to specifiy how it should be like -->
    <!-- added the filter:query to be able to have a general search bar -->
    <tbody ng-repeat = "student in listings | orderBy:sort | filter: customFilter |startFrom:(currentPage -1) *pageSize| limitTo: pageSize">

      <tr>
        <td ui-sref="employeeDashboard.studentProfile({ studentId: student._id})">{{student.name}}</td>
        <td ui-sref="employeeDashboard.studentProfile({ studentId: student._id})">{{student.gpa}}</td>
        <td ui-sref="employeeDashboard.studentProfile({ studentId: student._id})">{{student.major}}</td>
        <td ui-sref="employeeDashboard.studentProfile({ studentId: student._id})">{{student.minor}}</td>
        <td> <input type="checkbox" ng-checked="all" ng-model="student.selected">{{student.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- startFrom:(currentPage -1) *pageSize -->



<!-- A part of the pagination process -->
<pagination total-items = "listings.length" ng-model ="currentPage" items-per-page = "pageSize"></pagination>

</div>
