
<!--added StudentController, don't delete the ng-init find since it is needed to get all of the students-->
<div class="animated fadeIn" ng-controller = "StudentsController" ng-init ="find()">

  <p>Here are the candidates:</p>
  <!--Search bar -->
  <input type="search" class="light-table-filter" id = "myInput"  placeholder="search" ng-model = "query">
   <!-- Sorting options -->
   <tr class = "sortingTypes">
    <th><b>Sort By:</b>
          <select ng-model="sort">
            <!-- sorts from most recently added student -->
            <option value = "-created_at">Default</option>
            <!-- sort name from A - Z -->
            <option value = "name">Name</option>
            <!-- sort by highest GPA to lowest GPA, it no GPA they will appear first -->
            <option value = "-gpa">GPA</option>
             <!-- sort major from A - Z -->
            <option value = "major">Major</option>
          </select>
    </th>
   </tr>

   <!-- Show a certain amount of entries of candiates at a time -->
   <tr class = "paginationFormat">
    <th><b>Show </b>
          <select ng-model = "pageSize">
            <option value = "10">10</option>
            <option value = "25">25</option>
            <option value = "50">50</option>
            <option value = "100">100</option>
          </select>
    </th>
    <th><b> entries</b></th>
   </tr>
   




  <!-- filter options -->
   <table class="table">
        <thead>
          <tr class="filters">
            <!-- Can't really work on this now since we don't have any seasons -->
            <th>Recruiting Season
              <select id="recruiting-season-filter" class="form-control" ng-model="filterSeason">
                <option value = "">Current Season</option>
                <option>Season 2014</option>
                <option>Season 2015</option>
                <option>Season 2016</option>
                <option>Season 2017</option>
                <option>Season 2019</option>
              </select>
            </th>
            <th>Major
              <select id="major-filter" class="form-control" ng-model="filterMajor">
                <option value = "">Any</option>
                <option>Computer Science</option>
                <option>Computer Engineering</option>
                <option>Electrical Engineering</option>
                <option>DAS</option>
                <option>Mechanical Engineer</option>
              </select>
            </th>
            <!-- Probably not important so I'm not going to bother with it -->
            <th>Minor
              <select id="minor-filter" class="form-control" ng-model="minor">
                <option value = "">Any</option>
                <option>Computer Science</option>
                <option>Computer Engineering</option>
                <option>Electrical Engineering</option>
                <option>DAS</option>
                <option>Mechanical Engineer</option>
              </select>
            </th>
            <th>Position Type
              <select id="positiontype-filter" class="form-control" ng-model="filterPositionType">
                <option value = "">Any</option>
                <option>Internship/Co-op</option>
                <option>Full Time</option>
              </select>
            </th>
          </tr>
        </thead>
      </table>
    
 
 

        <!-- Candidates table -->
         <div class="tableWrapper">
            <table class="table table-striped table-hover" table id = "table" id = "myTable" >
              <thead class = "thead-inverse">
                 <tr>
                    <th style = "width:10%;">Name</th>
                    <th style = "width:10%;">GPA</th>
                    <th style = "width:10%;">Major</th>
                    <th style = "width:10%;">Minor</th>
                    <th style = "width:10%;">Recruiting Season</th>
                </tr>
             </thead>
             <!-- If you do filter by query, shows everything. If you did a filter by your own function, you have to specifiy how it should be like -->
             <!-- added the filter:query to be able to have a general search bar -->

               <tbody ng-repeat = "student in listings | orderBy:sort | filter: query | limitTo: pageSize" ui-sref="employeeDashboard.studentProfile({ studentId: student._id})">
                    <tr id = "list">
                        <td>{{student.name}}</td>
                        <td>{{student.gpa}}</td>
                        <td>{{student.major}}</td>
                        <td>{{student.minor}}</td>
                        <td>{{student.email}}</td>
                     </tr>
              </tbody>
            </table>
          </div>



          <!-- A part of the pagination process -->
          <pagination total-items = "listings.length" ng-model ="currentPage" items-per-page = "pageSize"></pagination>

</div>

</script>