<!--added StudentController -->
<div class="animated fadeIn" ng-controller = "StudentsController" ng-init ="find()">

  <p>Here are the candidates:</p>
  <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 
                Implement a way to filter through listings using the search bar 
              -->
              <!-- I an ng-model = "query" to help with the filter below.
              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model = "query">
</div>
  <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>GPA</th>
                <th>Major</th>
                <th>Minor</th>
                <th>Recruiting Season</th>
            </tr>
        </thead>
        <tbody ng-repeat = "student in listings | filter:query">
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.gpa}}</td>
                <td>{{student.major}}</td>
                <td>{{student.minor}}</td>
                <td>{{student.email}}</td>
            </tr>
        </tbody>
    </table>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

</div>