<div class="animated fadeIn" ng-controller="SlotsController" ng-init="init()">

	<div ng-if="selectingStudentInterview">Selecting interview for {{student.name}}</div>
	Interviews for {{day | date}}
	<!-- Interview Slots list -->
	<div class="list-group" ng-if="selectingStudentInterview">

		 <a href="" target="_top" class="list-group-item list-group-item-action" ng-click="selectForInterview(interview,student.email)" ng-repeat="interview in interviews | orderBy:'date' | filter:{isAvailable : true}"> 
			{{interview.date | date:'shortTime'}}
		</a>

	</div>

	<div class="list-group" ng-if="!selectingStudentInterview">

		<a class="list-group-item list-group-item-action" ng-click="" ng-repeat="interview in interviews | orderBy:'date'">
			{{interview.date | date:'shortTime'}} {{interview.isAvailable}} {{interview.student.name}}
		</a>

	</div>
</div>
<!--id= "autoEmail"-->
