<div class="animated fadeIn" ng-controller="SlotsController" ng-init="init()">

	<div ng-if="selectingStudentInterview">Selecting interview for {{student.name}}</div>
	Interviews for {{day | date}}
	<!-- Interview Slots list -->
	<div class="list-group" ng-if="selectingStudentInterview">

		<a href="" target="_top" id= "autoEmail" class="list-group-item list-group-item-action" ng-click="selectForInterview(interview)" ng-repeat="interview in interviews | orderBy:'date' | filter:{isAvailable : true}">
			{{interview.date | date:'shortTime'}}
		</a>

	</div>

	<div ng-if="!selectingStudentInterview">
		<button ng-click="showSettings=!showSettings">Create Slots</button>
		<div ng-if="showSettings">
			<form name="batchSlotForm">
				Date: <input type="date" name="input" ng-model="batch.inputDate"
       			placeholder="yyyy-MM-dd" min="{{minDate | date:'yyyy-MM-dd'}}"  /> <br>
			
				Add Batch of Slots:<br>
				Time Interval:<br>
				<input type="time" ng-model="batch.startTime"
       			placeholder="HH" step="3600"  />
       			TO
       			<input type="time" ng-model="batch.endTime"
       			placeholder="HH"  step="3600"  />
				<br> Interview Duration:<br>
				<select ng-model="batch.duration" ng-options="x for x in durations"  />
				</select> <br>

				Interviews Per Slot: 
				<select ng-model="batch.interviewsPerSlot" ng-options="x for x in slots"  /><br>
				<button ng-click="addBatch(batch)">ADD</button>
			

			Add Customized Slots:<br>
			Slot:<br>
			ADD
			</form>
		</div>
		<!-- {{ batch.startTime }} -->
		<div class="list-group">
			<a class="list-group-item list-group-item-action" ng-click="" ng-repeat="interview in interviews | orderBy:'date'">
				{{interview.date | date:'shortTime'}} {{interview.isAvailable}} {{interview.student.name}}
			</a>
		</div>

	</div>
</div>
