<div class="row" ng-controller="StudentsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10">
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div class="jumbotron">
      <img id="loader" ng-show="loading" src="/../../img/484.gif">
      <div ng-show="student">
        <h1>{{student.name}}</h1><br><br>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4"><strong>Name:</strong></div> 
            <div class="col-md-6">{{student.name}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Email:</strong></div> 
            <div class="col-md-6">{{student.email}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Major:</strong></div> 
            <div class="col-md-6">{{student.major}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Minor:</strong></div> 
            <div class="col-md-6">{{student.minor}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Phone:</strong></div> 
            <div class="col-md-6">{{student.phone}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>GPA:</strong></div> 
            <div class="col-md-6">{{student.gpa}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Position:</strong></div> 
            <div class="col-md-6">{{student.fulltime}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Comments:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.comments}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Leadership:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.leadership}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Behavior:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.behavior}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Communication:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.communication}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Critical Thinking:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.critThinking}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Technology Knowledge:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.techKnowledge}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4"><strong>Candidacy:</strong></div> 
            <div class="col-md-6">{{student.recruiterComments.candidacy}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4" ng-model = "cSeason"><strong>Recruiting Season :</strong></div> 
            <div class="col-md-6">
              <button ng-click = "goBackSeasons()"> << </button>
              {{student.season}}
              <button ng-click = "changeSeasons()"> >> </button>
            </div>
          </div>
          <hr/>
          <div ng-if="student.interview">
            <div class="row">
              <div class="col-md-4">
               <strong>Interview: </strong>
              </div> 
               <div class="col-md-6">{{student.interview.startDate | date:'short'}}</div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-4">
                <strong>Recruiter: </strong>
              </div> 
               <div class="col-md-6">{{student.interview.recruiter.displayName}}</div>
            </div>
          </div>
        </div>
        <p></p>
        <p></p>
        <a class="btn btn-primary" ui-sref="employeeDashboard.studentUpdateForm({ studentId: student._id })">
          <i class="glyphicon glyphicon-edit"></i>
          Edit
        </a>
        <a class="btn btn-primary" href="mailto:{{student.email}}?Subject=Hello%20{{student.name}}" target="_top">
          <i class="glyphicon glyphicon-envelope"></i>
          Mail
        </a>

        <a class="btn btn-primary" ng-if="!student.interview" ui-sref="employeeDashboard.selectForInterview({ studentId: student._id })">
          <i class="glyphicon glyphicon-user"></i>
          Interview
        </a>
        <a class="btn btn-danger" ng-click="remove();" >
          <i class="glyphicon glyphicon-trash"></i>
          Remove
        </a>
        <button ui-sref = "employeeDashboard.employeeCandidateList">Back</button>

      </div>
    </div>
  </div>
</div>
