<!--added StudentController -->
<div class="card-body" ng-controller = "StudentsController">
  <h2>Student Information</h2>
  <p class="text-muted">Please tell us a little bit about your self.</p>
  <!--added the registerform and the create function to connect to back-end functionality -->
  <form name = "registerForm" ng-submit="create(registerForm.$valid)">
  <!-- We need to add ng-model names in order to connect it properly to the front-end and back-end. You should have ng-model even if the field is not required. -->
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control"  ng-model="firstName" id="firstName" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control"  ng-model="lastName" id="lastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" ng-model="email" id="email" placeholder="youremail@ufl.edu" required>
    </div>
    <div class="form-group">
      <label for="major">Major</label>
      <input class="form-control" list="major" ng-model="major" name="major" required>
      <datalist id="major">
        <option value="Computer Science">
        <option value="Computer Engineering">
        <option value="Electrical Engineering">
        <option value="DAS">
        <option value="Math">
      </datalist>          </div>
    <div class="form-group">
      <label for="minor">Minor</label>
      <input class="form-control" list="minor" ng-model="minor" name="minor">
      <datalist id="minor">
        <option value="Computer Science">
        <option value="Computer Engineering">
        <option value="Electrical Engineering">
        <option value="DAS">
        <option value="Math">
      </datalist>
    </div>
    <div class="form-group">
      <label for="phone-number">Phone Number</label>
      <input type="tel" class="form-control" ng-model="phonenumber" id="phone-number" placeholder="(555) 555-5555">
    </div>
    <div class="form-group">
      <label for="gpa">GPA</label>
      <input type="number" step='0.01' class="form-control" ng-model="gpa" id="gpa" placeholder="4.00" min="0" max="4">
    </div>
    <div class="form-group">
      <legend>Position Type</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" ng-model = "fulltime" ng-value="'false'" name="optionsRadios" id="optionsRadios1" value="option1">
          Internship/Co-op
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" ng-model = "fulltime" ng-value="'true'" name="optionsRadios" id="optionsRadios2" value="option2">
          Full Time
        </label>
      </div>
    </div>
  
    <div class="form-group">
      <label for="exampleInputFile">Upload Resume</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <!-- <small id="fileHelp" class="form-text text-muted"></small> -->
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>


  </form>
</div>

