<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="EasyRecruit - Student Recruitment Web App">
  <meta name="author" content="1C Upon a Time">
  <meta name="keyword" content="">
  <link rel="shortcut icon" href="./img/favicon.png">

  <title>EasyRecruit</title>

  <!-- Main styles for this application -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="./modules/core/client/css/styles.css" rel="stylesheet">
  <link href="./modules/core/client/css/custom.css" rel="stylesheet">

</head>

<!-- BODY options, add following classes to body to change options

  // Header options
  1. '.header-fixed'          - Fixed Header

  // Sidebar options
  1. '.sidebar-fixed'         - Fixed Sidebar
  2. '.sidebar-hidden'        - Hidden Sidebar
  3. '.sidebar-off-canvas'    - Off Canvas Sidebar
  4. '.sidebar-minimized'     - Minimized Sidebar (Only icons)
  5. '.sidebar-compact'       - Compact Sidebar

  // Aside options
  1. '.aside-menu-fixed'      - Fixed Aside Menu
  2. '.aside-menu-hidden'     - Hidden Aside Menu
  3. '.aside-menu-off-canvas' - Off Canvas Aside Menu

  // Breadcrumb options
  1. '.breadcrumb-fixed'      - Fixed Breadcrumb

  // Footer options
  1. 'footer-fixed'           - Fixed footer

-->

<body class="header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" ng-app="core">

  <!-- User Interface -->
  <ui-view class="app"></ui-view>

  <!-- Bootstrap and necessary plugins -->
 <!--  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

  <!-- AngularJS -->
  <!-- <script src="node_modules/angular/angular.min.js"></script> -->

  <!-- AngularJS plugins -->
 <!--  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="node_modules/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="node_modules/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
  <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script> -->

  <!-- AngularJS CoreUI App scripts -->

  <script src=""></script>
  <script src=""></script>
  <script src=""></script>
  <script src=""></script>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>