#searchBar {
  margin: 15px 20px;
}

.tableWrapper {
  max-height: 600px;
  max-width: 1200px;
  overflow: auto;
}


.col-md-6{
	border-style : solid;
	max-height: 800px;
}

.jumbotron{
	border-style : solid;
	color : black;
	max-width: 1200px;
}


.changeCoordinates{
	text-indent: 100px;
}