<div class="card mx-4">
  <div class="card-body p-4">
    <h2>Forgot Your Password?</h2>
    <p class="text-muted">No worries. Enter your email address and we'll send you instructions on how to reset your password.</p>

    <div class="input-group mb-3">
      <span class="input-group-addon"><i class="icon-envelope"></i></span>
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-addon">@exxonmobil.com</span>
    </div>

    <button type="button" class="btn btn-block btn-danger">Reset Password</button>
  </div>
</div>