<div class="card mx-4">
  <div class="card-body">
    <h2>Login</h2>

    <form ng-submit="vm.onSubmit()">
    <p class="text-muted">Sign In to your account</p>
    <div class="input-group mb-3">
      <span class="input-group-addon"><i class="icon-envelope"></i></span>
      <input type="text" class="form-control" placeholder="Email" ng-model="vm.credentials.email">
      <span class="input-group-addon">@exxonmobil.com</span>
    </div>
    <div class="input-group mb-4">
      <span class="input-group-addon"><i class="icon-lock"></i></span>
      <input type="password" class="form-control" placeholder="Password" ng-model="vm.credentials.password">
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary px-4">Login</button>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-link px-0" ui-sref="square.employeeForgot">Forgot password?</button>
      </div>
    </div>
  </form>
  </div>
</div>
