<div class="card mx-4">
  <div class="card-body p-4">
    <h2>Register</h2>
    <p class="text-muted">Create your account</p>
    <form ng-submit="vm.onSubmit()">
    <div class="input-group mb-3">
      <span class="input-group-addon"><i class="icon-user"></i></span>
      <input type="text" class="form-control" placeholder="Full Name" ng-model="vm.credentials.name">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-addon"><i class="icon-envelope"></i></span>
      <input type="text" class="form-control" placeholder="Email" ng-model="vm.credentials.email">
      <span class="input-group-addon">@exxonmobil.com</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-addon"><i class="icon-lock"></i></span>
      <input type="password" class="form-control" placeholder="Password" ng-model="vm.credentials.password">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-addon"><i class="icon-lock"></i></span>
      <input type="password" class="form-control" placeholder="Repeat password">
    </div>

    <div class="input-group mb-4">
      <span class="input-group-addon"><i class="icon-briefcase"></i></span>
      <input type="text" class="form-control" placeholder="Job Title">
    </div>

    <button type="button" class="btn btn-block btn-success">Create Account</button>
  </form>
  </div>
</div>
