<!-- Navbar -->
<div ng-include="'./modules/core/client/views/layouts/components/navbar.client.view.html'" include-replace></div>
<div class="app-body">
  <!-- Navigation -->
  <div ng-include="'./modules/core/client/views/layouts/components/sidebar-nav.client.view.html'" include-replace></div>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb" breadcrumb>
      <ncy-breadcrumb></ncy-breadcrumb>

    </ol>
    <div class="container-fluid">
      <ui-view></ui-view>
    </div>
    <!-- /.conainer-fluid -->
  </main>

</div>

<!-- Footer -->
<div ng-include="'./modules/core/client/views/layouts/components/footer.client.view.html'" include-replace></div>