<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-height-buffer">
        <a class="brand text-center" ui-sref="square.studentLanding">
          <h1>
            <span class="fa-stack logo">
              <i class="fa fa-circle fa-stack-2x custom-red"></i>
              <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
            </span>
            <span class="custom-blue">
              Easy<strong>Recruit</strong>
            </span>
          </h1>
        </a>
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>