<section ng-controller="SettingsController">
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav flex-column">
        <li ui-sref-active="active" class="nav-item">
          <a ui-sref="settings.profile" class="nav-link">Edit Profile</a>
        </li>
        <li ui-sref-active="active" class="nav-item">
          <a ui-sref="settings.picture" class="nav-link">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" class="nav-item" ng-show="user.provider === 'local'">
          <a ui-sref="settings.password" class="nav-link">Change Password</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
